.featContainer h2 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 4rem;
  color: #fff;
  font-family: "Audiowide", sans-serif;
}

.featContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}
