.features {
  display: flex;
  justify-content: center;
  padding: 5rem 0rem;
  width: 100%;
  min-height: 100vh;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 3rem;
}

.feature-card {
  position: relative; /* necessário pro ::before funcionar */
  border-radius: 20px;
  text-align: start;
  height: 100%;
  min-width: 200px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.feature-card:hover {
  transform: translateY(-10px);
}

.feature-img {
  width: 100%;
  height: auto;
  margin: 0 auto 1.5rem auto;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: start;
}

.feature-card h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #fff;
  font-family: "Audiowide", sans-serif;
}

.feature-card p {
  font-size: 0.9rem;
  opacity: 0.9;
  color: #fff;
  line-height: 1.6;
}
.featImg{
  width: 100%;
}